// Переменные
$container: 1115px;
$max-container: 1440px;
$container-padding: 15px;

// colors
$base-color: #272727;
$text-color: white;
$accent-color: #efc58b;

// baseFont

%baseFont {
  $font-size: 16px;
  font-family: sans-serif;
  font-size: $font-size;
  color: $text-color;
  line-height: lh($font-size, 15px);
}

// Переломы
$md1: 1200px;
$md2: 992px;
$md3: 768px;
$md4: 576px;
